@page "/pagos"
@page "/pagos/{PagoId:int}"

@inject PagosBLL pagosBLL
@inject NotificationService notifierSvc

<EditForm Model="pagos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="d-block p-2 bg-info text-white border border-4">
        <div class="card-header text-center">
            <h3>Registro de Pagos</h3>
        </div>
        <div class="border border-4 card bg-primary text-white card-body">
            <div class="container overflow-hidden">
                <form class="row gy-3">

                    @*PagoId*@
                    <div class="form-r ow align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>PagoId</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="pagos.PagoId" class="form-control col-4" />
                                    <div class="input-group-append">
                                        <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Fecha*@
                    <div class="col-md-3">
                        <label class="form-label">Fecha</label>
                        <InputDate @bind-Value="pagos.Fecha" class="form-control" />
                        <ValidationMessage For="@(() => pagos.Fecha)" />
                    </div>

                    @*PersonaId*@
                    <div class="col-md-3">
                        <label for="personas.PersonaId" class="form-label">PersonaId</label>
                        <select id="personas.PersonaId" class="form-select">
                            <option value="0" disabled> Seleccione uno </option>
                            @foreach (var persona in listaPersonas)
                            {
                                <option value="@persona.PersonaId"> @persona.Nombres</option>
                            }
                        </select>
                        <ValidationMessage For="@(() => pagos.PersonaId)" />
                    </div>  

                    @*Concepto*@
                    <div class="col-md-3">
                        <label class="form-label">Concepto</label>
                        <InputText @bind-Value="pagos.Concepto" class="form-control" />
                        <ValidationMessage For="@(() => pagos.Concepto)" />
                    </div>
                    
                    @*Monto*@
                    <div class="col-md-3">
                        <label class="form-label">Monto</label>
                        <InputNumber @bind-Value="pagos.Monto" class="form-control" />
                        <ValidationMessage For="@(() => pagos.Monto)" />
                    </div>
                </form>
            </div>
        </div>

       <div class="card-footer d-flex justify-content-center">
            <div class="border border-3 btn-group" role="group">
                <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                <button type="button" class="btn btn-success" @onclick="Editar"> <i class="oi oi-pencil" /> Editar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int PagoId { get; set; }
    public Pagos pagos { get; set; } = new Pagos();
    public List<Personas> listaPersonas = new List<Personas>();

    protected override void OnInitialized()
    {
        if (PagoId > 0)
        {
            this.pagos.PagoId = PagoId;
            this.Buscar();
        }
    }

    private void Buscar()
    {
        if (pagos.PagoId > 0)
        {
            var encontrado = pagosBLL.Buscar(pagos.PagoId);
            if (encontrado != null){
                this.pagos = encontrado;
                notifierSvc.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else{
                notifierSvc.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }
        }
    }

    public void Nuevo()
    {
        pagos = new Pagos();
        notifierSvc.ShowNotification("Nueva plantilla creada correctamente.", NotificationSeverity.Success);
    }

    public void Guardar()
    {

        var guardo = pagosBLL.Guardar(this.pagos);
        if (guardo)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue guardado correctamente.");
        }
        else
        {
            notifierSvc.ShowNotification("No fue guardado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }

    public void Editar()
    {
        var editar = pagosBLL.Editar(pagos);

        if (editar)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue editado correctamente.");
        }
        else
        {
            notifierSvc.ShowNotification("No fue editado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }

    public void Eliminar()
    {
        var elimino = pagosBLL.Eliminar(pagos);
        if (elimino)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue eliminado correctamente.");
        }
        else
        {
            notifierSvc.ShowNotification("No fue eliminado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }
}