@page "/personas"
@page "/personas/{PersonaId:int}"

@inject PersonasBLL personasBLL
@inject NotificationService notifierSvc
@inject OcupacionesBLL ocupacionBLL

<EditForm Model="personas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="d-block p-2 bg-info text-white border border-4">
        <div class="card-header text-center">
            <h3>Registro de Personas</h3>
        </div>
        <div class="border border-4 card bg-primary text-white card-body">
            <div class="container overflow-hidden">
                <form class="row gy-3">

                    @*PersonaId*@
                    <div class="form-row align-items-center">
                        <div class="col"> 
                            <label>PersonaId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="personas.PersonaId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Nombres*@
                    <div class="col-md-4">
                        <label>Nombres</label>
                        <InputText @bind-Value="personas.Nombres" class="form-control" />
                        <ValidationMessage For="@(() => personas.Nombres)" />
                    </div>

                    @*Direccion*@
                    <div class="col-md-4">
                        <label>Direccion</label>
                        <InputText @bind-Value="personas.Direccion" class="form-control" />
                        <ValidationMessage For="@(() => personas.Direccion)" />
                    </div>

                    @*Email*@
                    <div class="col-md-4">
                        <label>Email</label>
                        <InputText @bind-Value="personas.Email" class="form-control" />
                        <ValidationMessage For="@(() => personas.Email)" />
                    </div>

                    @*FechaNacimiento*@
                    <div class="col-md-3">
                        <label>Fecha De Nacimiento</label>
                        <InputDate @bind-Value="personas.FechaNacimiento" class="form-control" />
                        <ValidationMessage For="@(() => personas.FechaNacimiento)" />
                    </div>

                    @*Celular*@
                    <div class="col-md-3">
                        <label>Celular</label>
                        <InputText @bind-Value="personas.Celular" class="form-control" />
                        <ValidationMessage For="@(() => personas.Celular)" />
                    </div>

                    @*Telefono*@
                    <div class="col-md-3">
                        <label>Telefono</label>
                        <InputText @bind-Value="personas.Telefono" class="form-control" />
                        <ValidationMessage For="@(() => personas.Telefono)" />
                    </div>

                    <div class="col-md-3">
                        <label>Ocupaciones</label>
                        <InputSelect class="form-select" @bind-Value="personas.OcupacionId">
                            @foreach (Ocupaciones ocupacion in listaOcupaciones)
                            {
                                <option value="@ocupacion.OcupacionId">@ocupacion.Descripcion</option>
                            }
                        </InputSelect>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-center">
            <div class="border border-3 btn-group" role="group">
                <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                <button type="button" class="btn btn-success" @onclick="Editar"> <i class="oi oi-pencil" /> Editar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int PersonaId { get; set; }
    public Personas personas { get; set; } = new Personas();
    public List<Ocupaciones> listaOcupaciones { get; set; } = new List<Ocupaciones>();

    protected override void OnInitialized()
    {
        if (PersonaId > 0)
        {
            this.personas.PersonaId = PersonaId;
            this.Buscar();
        }
        listaOcupaciones = ocupacionBLL.GetOcupaciones(o => true);
    }

    
    private void Buscar()
    {
        if (personas.PersonaId > 0)
        {
            var encontrado = personasBLL.Buscar(personas.PersonaId);
            if (encontrado != null){
                this.personas = encontrado;
                notifierSvc.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else{
                notifierSvc.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }  
        }
    }

    public void Nuevo()
    {
        personas = new Personas();
        personas.FechaNacimiento = DateTime.Now;
        notifierSvc.ShowNotification("Nueva plantilla creada correctamente.", NotificationSeverity.Success);
    }
    public void Guardar()
    {
        var guardo = personasBLL.Guardar(this.personas);
        if (guardo)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue guardado correctamente.", NotificationSeverity.Success);
        }
        else
        {
            notifierSvc.ShowNotification("No fue guardado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }

    public void Editar()
    {
        var editar = personasBLL.Editar(personas);

        if (editar)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue editado correctamente", NotificationSeverity.Success);

        }else{

            notifierSvc.ShowNotification("Registro no encontrado", NotificationSeverity.Error);

        }
    }

    public void Eliminar()
    {
        var elimino = personasBLL.Eliminar(personas);
        if (elimino)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue eliminado correctamente.", NotificationSeverity.Success);
        }
        else
        {
            notifierSvc.ShowNotification("No fue Eliminado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }
}