@page "/prestamos"
@page "/prestamos/{PrestamoId:int}"
@inject PrestamosBLL prestamosBLL

<EditForm Model="prestamos" OnValidSubmit="Guardar">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">
        <div class="card-header text-center">
            <h3>Registro Prestamos</h3>
        </div>
        <div class="card-body">

            @*PersonaId*@
            <div class="form-r ow align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>PrestamoId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="prestamos.PrestamoId" class="form-control col-4" />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button type="button" class="bi bi-search btn btn-primary input-group-text"
                                        @onclick="Buscar"> Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>

                @*Fecha*@
                <div class="input-group">
                    <span class="input-group-text">Fecha</span>
                    <input type="date" @bind-value="prestamos.Fecha" />
                </div>
                <p></p>

                <ValidationMessage For="@(() => prestamos.Fecha)" />

                @*Vence*@
                <div class="input-group">
                    <span class="input-group-text">Vence</span>
                    <input type="date" @bind-value="prestamos.Vence" />
                </div>
                <p></p>

                <ValidationMessage For="@(() => prestamos.Vence)" />

                @*PresonaId*@
                <div class="form-r ow align-items-center">
                    <label>PersonaId</label>
                    <InputSelect class="form-select text-14" @bind-Value="prestamos.PersonaId">
                        <option value="null"> </option>
                        @foreach (var item in lista)
                        {

                            <option value="@item.PersonaId">@item.Nombre</option>

                        }
                    </InputSelect>
                    <ValidationMessage For="@(() =>prestamos.PrestamoId)" />
                </div>

                @*Consepto*@
                <div class="form-group">
                    <label>Concepto</label>
                    <InputText @bind-Value="prestamos.Consepto" class="form-control" />
                    <ValidationMessage For="@(() => prestamos.Consepto)" />
                </div>
                <p></p>

                @*Monto*@
                <div class="form-group">
                    <label>Monto</label>
                    <InputNumber @bind-Value="prestamos.Monto" class="form-control" />
                    <ValidationMessage For="@(() => prestamos.Monto)" />
                </div>
                <p></p>

            </div>
            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="bi bi-file-earmark-fill btn btn-lg btn-primary" @onclick="Nuevo"> Nuevo</button>
                    <button type="submit" class="bi bi-file-earmark-text-fill btn btn-lg btn-success" @onclick="Guardar"> Guardar</button>
                    <button type="submit" class="bi bi-pencil-square btn btn-lg btn-success" @onclick="Editar"> Editar</button>
                    <button type="button" class="bi bi-trash btn btn-lg btn-danger" @onclick="Eliminar"> Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int PrestamoId { get; set; }
    public Ocupaciones ocupacion { get; set; } = new Ocupaciones();
    public Persona personas { get; set; } = new Persona();
    public Prestamos prestamos { get; set; } = new Prestamos();
    public List<Persona> lista = new List<Persona>();
    public List<Prestamos> prestamo = new List<Prestamos>();
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";


    protected override void OnInitialized()
    {
        if (PrestamoId > 0)
        {
            this.prestamos.PrestamoId = PrestamoId;
            this.Buscar();

        }
        lista = prestamosBLL.GetPersonas(c => true);
    }

    public void Nuevo()
    {
        prestamos = new Prestamos();
    }

    public void Guardar()
    {

        bool guardo = prestamosBLL.Guardar(prestamos);

        if (guardo)
        {

            Nuevo();
        }
    }
    private void Buscar()
    {
        if (prestamos.PrestamoId > 0 || ocupacion.OcupacionId > 0 || personas.PersonaId > 0)
        {
            var encontrado = prestamosBLL.Buscar(prestamos.PrestamoId);

            if (encontrado != null)
                this.prestamos = encontrado;
        }
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = prestamosBLL.Eliminar(prestamos);

        if (elimino)
        {
            Nuevo();
        }
    }

    public void Editar()
    {

        var editar = prestamosBLL.Editar(prestamos);

    }

}