@page "/persona"
@page "/persona/{PersonaId:int}"

@inject PersonasBLL personasBLL
@inject OcupacionesBLL ocupacionesBLL
@inject NotificationService notifierSvc

<EditForm Model="persona" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="d-block p-2 bg-info text-white border border-4">
        <div class="card-header text-center">
            <h3>Registro de Personas</h3>
        </div>
        <div class="border border-4 card bg-primary text-white card-body">
            <div class="container overflow-hidden">
                <form class="row gy-3">

                    @*PersonaId*@
                    <div class="form-row align-items-center">
                        <div class="col"> 
                            <label class="form-label">PersonaId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="persona.PersonaId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Nombres*@
                    <div class="col-md-4">
                        <label class="form-label">Nombres</label>
                        <InputText @bind-Value="persona.Nombres" class="form-control" />
                        <ValidationMessage For="@(() => persona.Nombres)" />
                    </div>

                    @*Direccion*@
                    <div class="col-md-4">
                        <label class="form-label">Direccion</label>
                        <InputText @bind-Value="persona.Direccion" class="form-control" />
                        <ValidationMessage For="@(() => persona.Direccion)" />
                    </div>

                    @*Email*@
                    <div class="col-md-4">
                        <label class="form-label">Email</label>
                        <InputText @bind-Value="persona.Email" class="form-control" />
                        <ValidationMessage For="@(() => persona.Email)" />
                    </div>

                    @*FechaNacimiento*@
                    <div class="col-md-3">
                        <label class="form-label">Fecha De Nacimiento</label>
                        <InputDate @bind-Value="persona.FechaNacimiento" class="form-control" />
                        <ValidationMessage For="@(() => persona.FechaNacimiento)" />
                    </div>

                    @*Celular*@
                    <div class="col-md-2">
                        <label class="form-label">Celular</label>
                        <InputText @bind-Value="persona.Celular" class="form-control" />
                        <ValidationMessage For="@(() => persona.Celular)" />
                    </div>

                    @*Telefono*@
                    <div class="col-md-3">
                        <label class="form-label">Telefono</label>
                        <InputText @bind-Value="persona.Telefono" class="form-control" />
                        <ValidationMessage For="@(() => persona.Telefono)" />
                    </div>

                    @*OcupacionId*@
                    <div class="col-md-4">
                        <label class="form-label">OcupacionId</label>
                        <InputSelect class="form-select" @bind-Value="persona.OcupacionId">
                            <option value="0" disabled> Seleccione una ocupacion </option>
                            @foreach (Ocupaciones ocupacion in listaOcupaciones)
                            {
                                <option value="@ocupacion.OcupacionId">@ocupacion.Descripcion</option>
                            }
                        </InputSelect>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-center">
            <div class="border border-3 btn-group" role="group">
                <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                <button type="button" class="btn btn-success" @onclick="Guardar"> <i class="oi oi-document" /> Guardar</button>
                <button type="button" class="btn btn-primary" @onclick="Editar"> <i class="oi oi-pencil" /> Editar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int PersonaId { get; set; }
    public Personas persona { get; set; } = new Personas();
    public List<Ocupaciones> listaOcupaciones { get; set; }= new List<Ocupaciones>();
    protected async override Task OnInitializedAsync()
    {
        listaOcupaciones = await ocupacionesBLL.GetOcupaciones(o => true);
        if (PersonaId > 0)
        {
            this.persona.PersonaId = PersonaId;
            await this.Buscar();
        }
    }

    private async Task Buscar()
    {
        if (persona.PersonaId > 0)
        {
            var encontrado = await personasBLL.Buscar(persona.PersonaId);
            if (encontrado != null){
                this.persona = encontrado;
                notifierSvc.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else{
                notifierSvc.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }  
        }
    }

    public void Nuevo()
    {
        persona = new Personas();
        notifierSvc.ShowNotification("Nueva plantilla creada correctamente.", NotificationSeverity.Success);
    }

    public async Task Guardar()
    {
        var guardo = await personasBLL.Guardar(persona);

        if (guardo)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue guardado correctamente.");
        }
        else
        {
            notifierSvc.ShowNotification("No fue guardado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }

    public async Task Editar()
    {
        var editar = await personasBLL.Editar(persona);

        if (editar)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue editado correctamente", NotificationSeverity.Success);

        }else{

            notifierSvc.ShowNotification("No fue editado correctamente", NotificationSeverity.Error);

        }
    }
    
    public async Task Eliminar()
    {
        var elimino = await personasBLL.Eliminar(persona);
        if (elimino)
        {
            Nuevo();
            notifierSvc.ShowNotification("Fue eliminado correctamente.", NotificationSeverity.Success);
        }
        else
        {
            notifierSvc.ShowNotification("No fue Eliminado, intentar nuevamente.", NotificationSeverity.Error);
        }
    }
}